<div class="col-sm-8 offset-sm-2">
  <h1>{{ appTitle | async }}</h1>
  <input type="text" class="form-control" [(ngModel)]="carName">
  <hr>
  <button class="btn btn-primary" (click)="loadCars()">Загрузить машины</button>
  <button class="btn btn-succsess" (click)="addCar()">Добавить Машину</button>
  <hr>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let car of cars | async">
      {{car.name}}
      <button class="btn btn-xs btn-info" (click)="setNewColor(car)">Изменить цвет</button>
      <button class="btn btn-xs btn-denger" (click)="deleteCar(car)">Удалить</button>
      <span class="badge badge-primary badge-pill" [ngStyle]="{background: car.color}">{{car.id}}</span> 
    </li>
  </ul>
</div>